@media only screen and (max-width: 800px){
    /* 1. 전체 페이지 공통 요소 */
    
        /* 링크 색 지우기 */    
        a{
            color: black;
        }
        /* 하단 네비게이션 바 */
        .mobile_list{
            align-content: center;
            display: inline-block;
            color: black;
            position: fixed;
            bottom:0;
            left: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            list-style: none;
            padding: 0%;
            padding-top: 15px;
            padding-bottom: 20px;
            background-color: white;
            margin: 0;
            vertical-align: bottom;
            border-top: rgb(187, 187, 187) 1px solid;
        }
    
        .mobile_list i {
            font-size: 25px;
        }
    
        #home{
            background-color: rgb(141, 198, 63);
            color: white;
            padding: 5px 5px;
            border-radius: 4rem;
        }
    
    /* 2. 전체 공통 요소는 아니지만, 다른 페이지에서도 쓰이는 요소 */
        /* 스꾸실 로고 */
        .main_img{
            text-align: center;
            margin-top: 20%;
        }

        /* input box 클릭하면 자동생성되는 border-line 제거 */
        input:focus{
            outline: none;
        }
    
    /* 3. only 이 페이지에서만 쓰이는 요소 */
        /* 아이디, 비밀번호 입력창 */
        .login_text{
            margin-top: 12%;
            text-align: center;
            margin-bottom: 10px;
        }


        .login_text input{
            width: 80%;
            color: gray;
            font-size: 15px;
            margin-top: 7px;
            border: 1px solid grey;
            border-radius: 0.5rem;
            height: 40px;
        }
        
        /* 로그인, 회원가입 버튼 */
        .login_btn{
            text-align: center;
        }
        .login_btn button{
            font-size: 15px;
            width: 40%;
            height: 35px;
            border-radius: 0.5rem;
        }
        .login_btn #log_in{
            background-color: white;
            color: black;
            border: 2px rgb(141, 198, 63) solid;
        }
        .login_btn #register{
            background-color: rgb(141, 198, 63);
            color: white;
            border: 0px;
        }
        
    }