/*전체 적용*/
a{
    color: black;
}


/*데스크탑 화면용 반응형 디자인*/


/*모바일 화면용 반응형 디자인*/
@media only screen and (max-width: 800px){
/*
    body{
        background: url("imgs/SKKUbg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }
*/
    .main_img{
        text-align: center;
        margin-top: 20%;
    }

    .mobile_list{
        align-content: center;
        display: inline-block;
        color: black;
        position: fixed;
        bottom:0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        list-style: none;
        padding: 0%;
        padding-top: 15px;
        padding-bottom: 20px;
        background-color: white;
        margin: 0;
        vertical-align: bottom;
    }

    .mobile_list i {
        font-size: 25px;
    }

    #home{
        background-color: rgb(141, 198, 63);
        color: white;
        padding: 5px 5px;
        border-radius: 4rem;
    }

/* 유저 -> 로그인 화면 */
    .login_text{
        margin-top: 12%;
        text-align: center;
        margin-bottom: 10px;
    }

    .login_text input{
        width: 80%;
        color: gray;
        font-size: 15px;
        margin-top: 7px;
        border: 1px solid grey;
        border-radius: 0.5rem;
        height: 40px;
    }

    .login_btn{
        text-align: center;
    }
    
    .login_btn button{
        font-size: 15px;
        width: 40%;
        height: 35px;
        border-radius: 0.5rem;
    }
    .login_btn #log_in{
        background-color: white;
        color: black;
        border: 2px rgb(141, 198, 63) solid;
    }
    .login_btn #register{
        background-color: rgb(141, 198, 63);
        color: white;
        border: 0px;
    }

    .user_info{
        margin: 70px auto -55px;
        width: 120px;
        height: 120px;
        overflow: hidden;
    }

    #user_img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 70%;
    }

    .user_box{
        background-color: white;
        text-align: center;
        padding-top: 70px;
    }

    .user_box h1{
        font-size: 30px;
        margin: 7px auto;
    }
    .user_box h2{
        font-size: 17px;
        font-weight: 350;
        margin: 10px auto;
    }

    .user_box button{
        width: 80%;
        height: 40px;
        margin-top: 10px;
        font-size: 13px;
        border-radius: 0.3rem;
    }

    .user_box #my_lost{
        background-color: rgb(64, 64, 255);
        color: white;
        border: 0;
    }

    .user_box #modi_profile{
        background-color: white;
        border: 2px rgb(141, 198, 63) solid;
        margin-bottom: 40px;
    }
}
